body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;   
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    outline: 0;
}

body, .spectrum {
    background-color: #0C2023; /* #000C0D */
}

nav .brand-logo {
    font-size: 1.6rem;
    padding-left: 0.8rem;
}

nav {
    background-color: rgba(0,0,0,0);
    z-index: 100;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.row {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}

.spectrum-container {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.open-modal, .row {
    z-index: 25;
    display: relative;
}

.spectrum {
    margin-top: 70px;
    position: relative;
    height: 100%;
    width: 100%;
}

.open-file, .modal {
    background-color: #0A535D;
}

.btn {
    background-color: #276C7F;
}

.spinner-blue {
    border-color: #3E7E90;
}

.btn:hover {
    background-color: #3E7E90; 
}

.spinner-width {
    width: 58px;
}

.valign-wrapper {
    height: 100%;
}

.hidden {
    visibility: hidden;
}

.scheme {
    margin-left: 20px;
}

.scheme span {
    content: ' ';
    display: inline-block;
    width: 25px;
    height: 25px;
}

#settings-modal p label {
    width: 200px;
}

.valign-wrapper, .spinner, .spinner-layer {
    z-index: 30;
}
